# This deployment manifest serves as an example of what a gMSA enabled workload would look like when deployed
# onto a Windows cluster with the Rancher Plugin gMSA solution configured. In all likely-hood, this workload cannot
# be deployed as-is without properly configuring the cluster with the required namespaces, service accounts, GMSACredentialSpecs
# and associated gMSA charts. The intent of this manifest is to show how automatically enabling gMSA within workloads requires only
# minimal changes to existing deployment manifests.

apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: gmsa-demosql
  name: gmsa-demosql
  namespace: cattle-wins-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gmsa-demosql
  template:
    metadata:
      labels:
        app: gmsa-demosql
    spec:
      # This field is required to authenticate as a gMSA.
      # This service account must be configured to allow the `use`
      # verb on GMSACredentialSpec CRs. For more information
      # refer to https://github.com/rancher/rancher-plugin-gmsa
      serviceAccountName: windows-gmsa-webserver
      # The value of this field depends on your networking configuration. If the SQL server
      # can be accessed by a public IP address or DNS record from within the cluster,
      # this field may not be needed.
      dnsPolicy: "ClusterFirstWithHostNet"
      containers:
        - name: iis
          # Note: This image is built for Windows server 2022 only.
          image: harrisonwaffel/windows-testing:iis-config
          imagePullPolicy: Always
          env:
            # This argument defines the connection string used to connect to the SQL server.
            # This should be changed based off of your testing environment. 
            - name: CONNECTION_STRING
              value: Server=10.2.0.5;DataBase=sqlTest;Integrated Security=True;TrustServerCertificate=True;"
          securityContext:
            windowsOptions:
              # This field is required to authenticate as a 
              # gMSA. In order for this field to work, the rancher-plugin-gmsa
              # charts must be installed and configured in the cluster
              # https://github.com/rancher/rancher-plugin-gmsa
              gmsaCredentialSpecName: gmsa1-ccg
          ports:
            - containerPort: 80
      nodeSelector:
        kubernetes.io/os: windows

---

apiVersion: v1
kind: Service
metadata:
  name: gmsa-demo
spec:
  type: NodePort
  selector:
    app: gmsa-demosql
  ports:
    - port: 80
      targetPort: 80