@page
@model IndexModel

<div class="text-center">
    <h1 class="display-4">Rancher gMSA SQL Connection Example</h1>
    <p>A sample ASP.NET Razor Web Page to demonstrate SQL connectivity using containerized gMSA accounts.</a>.</p>
    <a href="https://github.com/rancher/rancher-plugin-gmsa">Click here to learn more</a>
    <br/>
    <a href="/testtable">Click here to query the database</a>
</div>
